form{
	border-style: solid;
	padding: 5px;
	margin: 5px;
}

#nav{
	padding: 5px;
	margin: 5px;
	background: lightblue;
	font-weight: bold;
	font-size: 24;
}

.slidecontainer{
  display: inline-block;
  vertical-align: middle;
}

input[type=range]{
	min-width: 200px;
}

#canvas-container{
	--widthP: 100%;
	width: var(--widthP) - 20px;
	height: calc(var(--widthP) * .9);
	/*width: 1000px;
	height: 562px;*/
	margin: 5px;
	padding: 5px;
	border-style: solid;
}

#p5-canvas{
	/*width: auto*/
	height: 100%;
	width: 100%;
}

.package-details{
	text-indent: 2em;
}

/*** TOOL TIP ***/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext a {
	color: white;
	border-bottom: 1px dotted white;
}